
{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block logout %}{% endblock %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="row  justify-content-center align-items-center">
                <form method="post" action='{{ path('login') }}' class="form">
                    <img class="mb-4" src="/assets/img/robo.svg" alt="" width="72" height="72">
                    <label for="inputLogin" class="sr-only">Login</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="inputLogin" class="form-control mb-2" placeholder="Login" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required="">
                    <input type="hidden" name="_target_path" value="/" />
                    <div class="row  justify-content-center align-items-center mt-3">
                        <div class="col-lg-10">
                            <button style="height: 78px;" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}