{% extends 'base.html.twig' %}

{% block title %}Hello HouseController симфония!{% endblock %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <h2>House: {{ house.name }}</h2>
                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Floor</th>
                        <th scope="col">Type</th>
                        <th scope="col">Rooms</th>
                        <th scope="col">Square</th>
                        <th scope="col">Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">25</th>
                        <td>4</td>
                        <td>office</td>
                        <td>2</td>
                        <td>120</td>
                        <td>4000000</td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td>4</td>
                        <td>office</td>
                        <td>2</td>
                        <td>120</td>
                        <td>4000000</td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td>4</td>
                        <td>office</td>
                        <td>2</td>
                        <td>120</td>
                        <td>4000000</td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td>4</td>
                        <td>office</td>
                        <td>2</td>
                        <td>120</td>
                        <td>4000000</td>
                    </tr>
                    <tr>
                        <th scope="row">25</th>
                        <td>4</td>
                        <td>office</td>
                        <td>2</td>
                        <td>120</td>
                        <td>4000000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
