<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}symfony!{% endblock %}</title>
    <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="h-100">
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="/assets/img/robo.svg" width="40" height="40" alt="robot">
                <strong>Symfony</strong>
            </a>
            {% block logout %}
                <a href="/logout" class="navbar-toggler collapsed">
                    <span>LogOut</span>
                </a>
            {% endblock %}


        </div>
    </div>
</header>
<main role="main">
    {% block body %}{% endblock %}
</main>
<footer class="text-muted  mt-auto py-3">
    <div class="container">
        <p>© ilyaCorp 2019</p>
    </div>
</footer>
<script src="{{ asset('build/js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>